@model List<Modelo.CATEGORIA>
@{
    ViewBag.Title = "Index";
}
<h2 class="page-header">Index</h2>


<table class="table">
    <thead>
        <tr>
            <th style="width:50px;">Id</th>
            <th style="width:200px;">Nombre</th>
            <th style="width:200px;">Descripcion</th>
            <th style="width:50px;">Estado</th>
            <th style="width:50px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
            {
            <tr>
                <th>@(m.IDCATEGORIA)</th>
                <th>@(m.NOMBRE)</th>
                <th>@(m.DESCRIPCION)</th>
                <th>@(m.ESTADO == "A" ? "Activo" : "Inactivo")</th>

                <th><a href="~/home/ver/@m.IDCATEGORIA" class="btn btn-warning">Visualizar</a></th>
            </tr>
        }
    </tbody>

</table>


